{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}INDEX{% endblock %}
{% block head %}
    {{super()}}
    <script src="http://oa.smhc.org.cn/defaultroot/scripts/plugins/security/security.js" ></script>
    <script type="text/javascript">
        function a1(){
            alert(RSAUtils.encryptedString(RSAUtils.getKeyPair("010001", "",
            "0086dd23d3e1fb5660e83468945e851c666d63512b799c4e29694bf54dc7877f1e9787531161c5bad76a16e497f8273136b6336d4919f8d7786e023b4a8b23d1f80a9a524210acfd2b504b4a02043c9d68f51a22ec4c111e2890f185955197301e8089f9bfe047e0e1a84d81d3b1c3f19cf43633264681a0cc60d2812bcd441001"),
            encodeURIComponent('1111-0=./,;l')))
        }
    </script>
{% endblock %}
{% block body %}
{% block page_content %}
    <div class="page-header">
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
        {% if not known %}<p>pleased to see you!</p>
        {% else %}<p>nice to see you again!</p>
        {% endif %}
    </div>
{% endblock %}
    {{ wtf.quick_form(form) }}
{% endblock %}